<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Beyond the Absence</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   </head>
   <!-- body -->
   <body class="main-layout">
   
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <a class="active" href="index.html">Home</a>
         <a href="#about">About</a>
         <a href="#dashboard">Dashboard</a>
         <a href="#contact">Contact</a>
      </div>
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="head-top">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class="col-sm-3">
                     
                  </div>
                  <div class="col-sm-9">
                     <ul class="email text_align_right">
                        <li> <button class="openbtn" onclick="openNav()"><img src="{{url_for('static', filename='images/menu_btn.png')}}"></button></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
    
<!-- start slider section -->
<section id="top_section" class=" banner_main">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-6">
            <div class="airmic">
               <h1>🌸 Welcome to Beyond the Absence 🌸 </h1>
               <p style="text-align: justify;">A home for mothers navigating the journey of raising children without the support of the father. Here, we blend heartfelt stories, honest conversations, and powerful data insights to shed light on the resilience, love, and strength of single mothers everywhere.

                  Join us as we explore what it means to rebuild, to rise, and to thrive — even when faced with absence.
                  
                  ✨ You are not alone. Your story matters. ✨</p>
               </p>
            </div>
         </div>
         <div class="col-md-6">
            <div class="mic_img">
               <figure><img src="{{url_for('static', filename='images/right_side.png')}}" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</section>
<!--End slider section-->
    
      <!-- about -->
      <section id="about" class="about">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage text_align_left">
                     <h2>About Us</h2>
                     <p  style="text-align: justify;">At Beyond the Absence, we create a raw and welcoming space for women navigating motherhood without the support of the father. Our mission is to combine powerful personal stories with data-driven insights, offering a unique blend of emotion and understanding.

                        Through each podcast episode, we explore the pain, resilience, and transformation that come with raising children alone — but we go beyond words. With the expertise of a data analyst, we dive into real numbers, visual dashboards, and research to uncover the larger picture behind single motherhood.
                        
                        We believe every mother’s journey matters. Here, your story meets the stories of thousands, showing that even in the face of absence, love and courage can light the way forward.</p>
                     
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img class="img_responsive" src="{{url_for('static', filename='images/about_img.png')}}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end about -->
      <!-- dashboard-->
      <section id="dashboard">
         
      </section>
      <!-- end our_mics -->
      
      <!-- contact section -->
      <section id="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center" style="margin-top: 5%;">
                     <h2>Share Your Storie with Me</h2>
                  </div>
               </div>
               <div class="col-md-12">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="You Name" type="type" name="Name"> 
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Email" type="type" name="Email"> 
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="Message"></textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <!-- end contact section -->
      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  
                  <div class="col-md-5">
                     <div class="Informa conta">
                        <h3>Listen our Podcast</h3>
                        <ul>
                             <p><li><h4 style="color: white;">Spotify</h4> <a href="https://open.spotify.com/show/7djwr0RG98NuPgq1CXLZpK"><i class="bi bi-spotify"></i></a></li></p>
                             <p>  <li><h4 style="color: white;">Apple Podcast</h4> <a href="https://podcasts.apple.com/us/podcast/beyond-the-absence-al%C3%A9m-da-aus%C3%AAncia/id1811469305"><i class="bi bi-apple"></i></a></li></p>
                             <p>  <li><h4 style="color: white;">Amazon Music</h4> <a href="https://music.amazon.com/podcasts/b9450a4f-bdbc-459f-9d93-217addbff2e4/beyond-the-absence-além-da-ausência"><i class="bi bi-amazon"></i></a></li></p>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="Informa conta">
                        <h3>Contact Us</h3>
                        <ul>
                           <li> <a href="Javascript:void(0)"> (+1) 3474301365
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)">  suelmacruz22@gmail.com
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                 
               </div>
            </div>
            <div class="copyright text_align_center">
               <div class="container">
                    
                  <div class="row">
                   
                     <div class="col-md-10 offset-md-1">
                        <p>© 2025 All Rights Reserved. SuelmaParisDevop </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

   </body>
</html>