<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Beyond the Absence</title>
</head>
<body >
    
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage text_align_center" style="margin-top: 5%;">
                 <h2>Login</h2>
              </div>
           </div>
            <form method="POST" action="{{ url_for('login') }}" class="main_form" style="margin-left: 10%; margin-right: 10%;">
                <div class="row">
                    <div class="col-lg-6 col-md mb-3">
                    <label>Username:</label><br>
                    <input type="text" name="username" required><br><br>
                    </div>
                    <div class="col-lg-6 col-md mb-3">
                    <label>Password:</label><br>
                    <input type="password" name="password" required><br><br>
                    </div>
                    <div class="text-center  mt-2">
                        <button type="submit" class="btn btn-primary  pt-3 pb-3">
                            Submit
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
